/************************************************
 * PATH TOKEN
 * 경로 토큰
 *
 * [사용 규칙]
 * - 경로만 토큰으로 관리합니다.
 * - 정의된 경로 외의 경로는 컴포넌트 파일에서 직접 정의합니다.
 ************************************************/

/************************************************
 * 이미지
 * 이미지 경로에 사용되는 경로 토큰
 ************************************************/

@img-static: "../../img";	/* 고정 이미지 경로 */
@img-path: "../../img"; 	/* 개별 컴포넌트에서 사용하는 이미지 경로 */
@img: "../../img";		/* 믹스인에서 사용하는 이미지 경로 */